$floor-color: #333;


.floor {
	background-color: $floor-color;

	.number {
		color: lighten($floor-color, 15%);

	}

	.fa {
		background-color: lighten($floor-color, 45%);
		border-radius: 50%;
		cursor: pointer;
	}
}